canvas {
	border: 1px solid #000;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

div.reload-wrapper {
	text-align: center;
	margin-top: 105px;
}

div.reload-wrapper img {
	width: 45px;
	cursor: pointer;
}